.login {
  font-size: 10px;

  @media screen and(min-width: 1024px){
    font-size: 1.5em;
  }

  footer {
    @media screen and (max-width: 500px) and (min-height: 650px) and (orientation: portrait){
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
}

.login__content {
  position: relative;
  top: -21px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-color: #666666;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  text-align: center;

  @media screen and(min-width: 768px){
    width: 300px;
    height: 300px;
  }

  @media screen and(min-width: 1024px){
    width: 400px;
    height: 400px;
  }
}

.login__privacy {
  color: #95989A;
  font-size: 16px;
  text-decoration: none;

  @media screen and(min-width: 1024px){
    font-size: 1.5em;
  }
}

.login__title {
  font-size: 3.3em;
  font-weight: normal;
  color: #fff;
  margin: 0 0 18px 0;
}

.button__login {
  padding: 3px 10px;
  font-size: 2em;
  color: #95989a;
  border: 1px solid #95989a;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 25px;
  width: 140px;
  text-decoration: none;

  &--haka {
    display: flex;
    align-items: center;

    > img {
      width: 50%;
    }

    > .haka {
      margin-left: 7px;
      color: white;
      width: 50%;
      box-sizing: border-box;
      padding: 3px 10px;
      font-size: 10px;
      background-color: #9A0052;
    }
  }

  @media screen and(min-width: 1024px){
    width: 200px;
  }
}

.frame {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  z-index: 999;
  height: 100vh;

  > iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.back-to-app {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  background-color: #666666;
  border: 0;
  font-size: 20px;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}
