:root {
    --fontFamily: 'Roboto', sans-serif;

    --colorText: #454545;
    --colorTextDisabled: #CECECE;
    --colorBorder: #CECECE;
    --colorDisabled: #EFEFEF;
    --colorPrimary: #039BE5;
    --colorPrimaryTransparent: #edf8fd;
    --colorPrimaryDarken: color(var(--colorPrimary) shade(10%));
    --colorSuccess: #4CAF50;
    --colorSuccessTransparent: #f0f5f1;
    --colorSuccessDarken: color(var(--colorSuccess) shade(10%));
    --colorPending: #ff6700;
    --colorPendingTransparent: #fff4ed;
    --colorDanger: #F21616;
    --colorDangerTransparent: #feefef;
    --colorDangerDarken: color(var(--colorDanger) shade(10%));

    --transition: ease-in;
}
